* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.top {
    display: flex;
    background-color: #FB1C1C;
    justify-content: space-around;
    height: 70px;
    align-items: center;
    text-decoration: none;
}

.logo h2 {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 50%;
    margin-right: 20px;

}

.search input {
    width: 412px;
    height: 40px;
    padding: 10px;
}

.fa-magnifying-glass {
    color: #FB1C1C;
    margin: -45px;
}

.atendimento {
    display: flex;
}

.fa-headset {
    color: #fff;

}

.atendimento a {
    text-decoration: none;
    color: #fff;
    margin-left: 15px;

}

.whatsapp {
    display: flex;
    flex-wrap: wrap;

}

.whatsapp a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding-left: 5px;
}

.fa-whatsapp {
    color: #fff;
}

.login {
    display: flex;
    color: #fff;
    padding: 10px;
}

.login p {
    text-decoration: none;
    padding: 10px;

}

.login a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
}

/* inicio menu */
.cep {
    display: flex;
    margin: 15px 20px;
}

.cep-btn input {
    width: 160px;
    padding: 5px;
}

.fa-location-dot {
    padding-right: 10px;
    font-size: 20px;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 150px;
    font-size: 29px;
}

.catalog h3 {
    padding: 0 70px;
}

.catalog span {
    color: #FB1C1C;
}

   
.item ul {
    display: flex;
    list-style: none;
    margin: 40px 30px;


}
.item ul li {
    padding: 10px;
    margin: 10px;
    font-size: 15px;
}

.item a {
    color: black;
}

/* inicio section look */

.look-inf-container {
    display: flex;
    
}

.look-container {
    position: relative;
}

.looks img {
    margin-left: 30px;
    background-color: #9D979733;
}

.search {
    margin: 40px -70px;
    font-size: 30px;
}

.looks2 img {
    position: absolute;
    background-color: #9D979733;
    left: 60px;
    top: 50px;
}

.looks3 img {
    position: absolute;
    background-color: #9D979733;
    top: 200px;
    left: 60px;
}

/* fim look-inf-container*/

.inf{
    margin-left: 25px;
    line-height: 50px;
}

.look-inf {
    display: flex;
    
}

.look-inf h2 {
    font-size: 40px
}


.fa-heart {
    margin-left: 30px;
    font-size: 30px;
}

/* .avalicao */
.avaliacoes {
    border: 1px solid red;
    margin-left: 5px;

}

.avaliacoes a {
    color: #FB1C1C;
    margin-left: 20px;
}

.fa-share-nodes {
    margin-left: 664px;
    font-size: 25px;
}

/* fim avalicoes */

/* preco */
.preco h3 {
    font-size: 1.75em;
    margin-top: 15px;
}

.preco p{
    font-size: 1.25em;  
}

.preco img{
    background-color: ;
}