* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Topo */
.top {
    display: flex;
    background-color: #FB1C1C;
    justify-content: space-around;
    height: 70px;
    align-items: center;
    text-decoration: none;
}

.logo h2 {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 50%;
    margin-right: 20px;

}

.search input {
    width: 412px;
    height: 40px;
    padding: 10px;
}

.fa-magnifying-glass {
    color: #FB1C1C;
    margin: -45px;
}

.atendimento {
    display: flex;
}

.fa-headset {
    color: #fff;

}

/* Atendimento e Contado */
.atendimento a {
    text-decoration: none;
    color: #fff;
    margin-left: 15px;

}

.whatsapp {
    display: flex;
    flex-wrap: wrap;

}

.whatsapp a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding-left: 5px;
}

.fa-whatsapp {
    color: #fff;
}

.login {
    display: flex;
    color: #fff;
    padding: 10px;
}

.login p {
    text-decoration: none;
    padding: 10px;

}

.login a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
}

/* /*  Fim Topo */

/* inicio menu */
.cep {
    display: flex;
    margin: 15px 20px;
}

.cep-btn input {
    width: 160px;
    padding: 5px;
}

.fa-location-dot {
    padding-right: 10px;
    font-size: 20px;
}

/* Sessão generos catalago*/
.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 150px;
    font-size: 29px;
}

.catalog h3 {
    padding: 0 70px;
}

.catalog span {
    color: #FB1C1C;
}

/* Fim generos catalago */

/* Inicio item */
.item ul {
    display: flex;
    list-style: none;
    margin: 40px 30px;


}

.item ul li {
    padding: 10px;
    margin: 10px;
    font-size: 15px;
}

.item a {
    color: black;
}

/* Fim item */

/* inicio section look */

.look-inf-container {
    display: flex;

}

.look-container {
    position: relative;
}

.looks img {
    margin-left: 30px;
    background-color: #9D979733;
}

.search {
    margin: 40px -70px;
    font-size: 30px;
}

.looks2 img {
    position: absolute;
    background-color: #9d979720;
    left: 60px;
    top: 50px;
}

.looks3 img {
    position: absolute;
    background-color: #9D979720;
    top: 200px;
    left: 60px;
}

/* fim look*/

/* Inicio Inf*/
.inf {
    margin-left: 25px;
    line-height: 50px;
}

.look-inf {
    display: flex;

}

.look-inf h2 {
    font-size: 40px
}


.fa-heart {
    margin-left: 30px;
    font-size: 30px;
}

/* Inicio Inf */

/* .avalicao */
.avaliacoes {
    border: 1px solid red;
    margin-left: 5px;

}

.avaliacoes a {
    color: #FB1C1C;
    margin-left: 20px;
}

.fa-share-nodes {
    margin-left: 664px;
    font-size: 25px;
}

/* fim avalicoes */

/* Inicio Preco */
.preco h3 {
    font-size: 1.75em;
    margin-top: 15px;
}

.preco p {
    font-size: 1.25em;
}

.preco span {
    color: #FB1C1C;
}

.preco img {
    width: 60px; 
    height: 60px; 
    background-color: #9d979721;
    border-radius: 50%;
    border: 1px solid #FB1C1C;
}

/* Fim preco */

/* inicio tamanhos */

.tamanhos {
    display: flex;
    text-decoration: none;
}
/* .tamanhos span{
    border: 1px solid #FB1C1C;
    border-radius: 50%;
    width: 43px;
    height: 44px; */
    

.tamanhos p {
    width: 43px;
    height: 44px;
    border-radius: 50%;
    background-color: #c4c4c450;
    text-align: center;
    margin: 0 5px 5px;
}