* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Topo */
.top {
    background-color: hsl(0, 97%, 55%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

.logo h1 {
    height: 60px;
    width: 150px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    text-align: center;
    padding: 10px;

}

/* pesquisa */
.search input {
    width: 412px;
    height: 40px;
    margin-right: 20px;
    padding: 10px;
}

.fa-magnifying-glass {
    margin-left: -45px;
    color: #FB1C1C;
}

.atendimento {
    display: flex;
    flex-wrap: wrap;
}

.atendimento a {
    color: white;
    text-decoration: none;
    text-align: center;
    margin-left: 10px;

}

.fa-headset {
    color: #fff;
}

.whatsapp {
    display: flex;
    flex-wrap: wrap;
}

.fa-whatsapp {
    color: #fff;

}

.whatsapp a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding-left: 5px;
}

.login {
    color: #fff;
    display: flex;
}

.login p{
    color: white;
    text-decoration: none;
    margin-top: 25px;
  
   
}
.login a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 30px;
}

/* Menu */
.menu-inf {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.cep {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 20px;

}

.cep-btn input {
    width: 160px;
    padding: 5px;

}

.fa-location-dot {
    padding-right: 10px;
    font-size: 20px;

}

.catalog {
    display: flex;
    flex-wrap: wrap;
    margin: 0 150px;
    font-size: 29px;

}

.catalog h3 {
    padding: 0 70px;
    margin: 0 auto;
}


.catalog h3 span {
    color: #FB1C1C;
}

/* fim header */

/* Inicio main */
.information {
     border: 1px solid red; 
    display: flex;
    text-transform: uppercase;
    justify-content: space-around;
    position: relative;
   

.frete {
    background-color: #FB1C1C;
    padding: 10px;
    text-align: center;
}

.frete i {
   color: #fff;
   font-size: 50px; 
   margin-top: 20px;
}

.frete h4 {
    color: #fff;
    font-size: 30px;
    padding: 20px;
}

.frete p {
    color: #fff;
    font-size: 12px;
    position: absolute;
    bottom: 0px;
}

.entrega {
    background-color: #FB1C1C;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.entrega i {
    font-size: 50px; 
    margin-top: 20px;
}

.entrega h4 {
    padding: 10px;
    font-size: 25px;
}

.entrega p{
    font-size: 12px;
    position: absolute;
    bottom: 0px; 
}

.cartao {
    color: #fff;
    background-color: #FB1C1C;
    padding: 10px;
    text-align: center;
}

.cartao i {
 font-size: 50px;
 margin-top: 25px;
}

.cartao h4 {
    padding: 25px
}

.app {
    color: #fff;
    background-color: #FB1C1C;
    padding: 10px;
    text-align: center;
}

.app i {
    font-size: 60px;
    padding: 30px;
    
}

.app h4 {
   
    font-size: 15px;
    
}







