* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Topo */
.top {
    background-color: #FB1C1C;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

.logo h1 {
    height: 60px;
    width: 150px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    text-align: center;
    padding: 10px;

}

/* pesquisa */
.search input {
    width: 412px;
    height: 40px;
    margin-right: 20px;
    padding: 10px;
}

.fa-magnifying-glass {
    margin-left: -45px;
    color: #FB1C1C;
}

.atendimento {
    display: flex;
    flex-wrap: wrap;
}

.atendimento a {
    color: white;
    text-decoration: none;
    text-align: center;
    margin-left: 10px;

}

.fa-headset {
    color: #fff;
}

.whatsapp {
    display: flex;
    flex-wrap: wrap;
}

.fa-whatsapp {
    color: #fff;

}

.whatsapp a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding-left: 5px;
}

.login {
    color: #fff;
    display: flex;
}

.login p {
    color: white;
    text-decoration: none;
    margin-top: 25px;

}

.login a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 30px;
}

/* Menu */
.menu-inf {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.cep {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 20px;

}

.cep-btn input {
    width: 160px;
    padding: 5px;

}

.fa-location-dot {
    padding-right: 10px;
    font-size: 20px;

}

.catalog {
    display: flex;
    flex-wrap: wrap;
    margin: 0 150px;
    font-size: 29px;

}

.catalog h3 {
    padding: 0 70px;
    margin: 0 auto;
}


.catalog h3 span {
    color: #FB1C1C;
}

/* fim header */

/* Inicio main */
.information {
    /* border: 1px solid red; */
    display: flex;
    text-transform: uppercase;
    justify-content: space-around;
    position: relative;
    margin-top: 35px;
}


.frete {
    background-color: #FB1C1C;
    padding: 10px;
    text-align: center;
}

.frete i {
    color: #fff;
    font-size: 50px;
    margin-top: 20px;
}

.frete h4 {
    color: #fff;
    font-size: 30px;
    padding: 20px;
}

.frete p {
    color: #fff;
    font-size: 12px;
    position: absolute;
    bottom: 0px;
}

.delivery {
    background-color: #FB1C1C;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.delivery i {
    font-size: 50px;
    margin-top: 20px;
}

.delivery h4 {
    padding: 10px;
    font-size: 25px;
}

.delivery p {
    font-size: 12px;
    position: absolute;
    bottom: 0px;
}

.card {
    color: #fff;
    background-color: #FB1C1C;
    padding: 10px;
    text-align: center;
}

.card i {
    font-size: 50px;
    margin-top: 25px;
}

.card h4 {
    padding: 25px
}

.app {
    color: #fff;
    background-color: #FB1C1C;
    padding: 10px;
    text-align: center;
}

.app i {
    font-size: 60px;
    padding: 30px;

}

.app h4 {
    font-size: 15px;
}

/* inicio banner */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.fa-chevron-left {
    font-size: 52px;
    background-color: rgba(145, 145, 145, 0.322);
    position: absolute;
}

.banner-inf img {
    width: 1555px;
    height: 305px;
    margin-top: 40px;
    text-align: center;
}

.fa-chevron-right {
    font-size: 52px;
    background-color: rgba(145, 145, 145, 0.322);
    position: absolute;
    right: 13px;
}

/*  banner lançamento */
.news {
    justify-content: center;
    position: relative;
}

.launch h2 {
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

.promocoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    
}
.promo{
    position: relative;
    text-align: center;
}
.promo p {
    text-align: center;
}

.promo img {
    width: 150px;
    height: 150px;
    background-color: #9D9797;
    
}

.promo i {
    position: absolute;
    right: 0;
      
}

.fa-chevron-left {
    position: absolute;
    left: 20px;
    margin-bottom: 75px;


}

.fa-chevron-right {
    position: absolute;
    right: 20px;
    margin-bottom: 75px;
}

footer {

    background-color: #FB1C1C;
    padding: 50px;
}

.sobre {
    display: flex;
    justify-content: space-around;
    color: #fff;
    margin-top: 90px;
}

.sobre li {
    list-style: none;
    padding-top: 15px
}