* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Topo */
.top {
    background-color: hsl(0, 97%, 55%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

.logo h1 {
    height: 60px;
    width: 150px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    text-align: center;
    padding: 10px;

}

/* pesquisa */
.search input {
    width: 412px;
    height: 40px;
    margin-right: 20px;
    padding: 10px;
}

.fa-magnifying-glass {
    margin-left: -45px;
    color: #FB1C1C;
}

.atendimento {
    display: flex;
    flex-wrap: wrap;
}

.atendimento a {
    color: white;
    text-decoration: none;
    text-align: center;
    margin-left: 10px;

}

.fa-headset {
    color: #fff;
}

.whatsapp {
    display: flex;
    flex-wrap: wrap;
}

.fa-whatsapp {
    color: #fff;

}

.whatsapp a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding-left: 5px;
}

.login {
    color: #fff;
}

.login a {
    color: white;
    text-decoration: none;
    padding: 20px;

}

/* Menu */
.menu-inf {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.cep {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 20px;

}

.cep-btn input {
    width: 160px;
    padding: 5px;

}

.fa-location-dot {
    padding-right: 10px;
    font-size: 20px;

}

.catalog {
    display: flex;
    flex-wrap: wrap;
    margin: 0 150px;
    font-size: 29px;

}

.catalog h3 {
    padding: 0 70px;
    margin: 0 auto;
}


.catalog h3 span {
    color: #FB1C1C;
}

.information {
    padding: 20px;
}
.information ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 20px;
    padding: 40px;
}

.information ul li{
    display: flex;
    background-color: #FB1C1C;
    list-style: none;
    padding: 30px;
    width: 278px;
    height: 174px;
    position: relative;
    
}
.information ul li h4{
    font-size: 20px;
    color: #fff;
    margin: 25px;
    text-transform: uppercase;
   
  
}
.information ul li p {
    font-size: 15px;
    position: absolute;
    bottom: 0;
}
.fa-truck-fast{
    font-size: 50px;
    margin: 15px;
    color: #fff;
}
.fa-stopwatch{
    font-size: 80px;
}
.fa-credit-card {
    font-size: 50px;
}
.fa-mobile-screen-button{
    font-size: 60px;

}


